html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.primary-header, .footer-wrapper, .os-container, .contact-wrapper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.contact-wrapper {
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
}

header {
  background: #292826;
  background: linear-gradient(77deg, #292826 0%, #04406d 49%);
  width: 100%;
  z-index: 9999;
}

.primary-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.primary-header .logo-image img {
  width: 400px;
  padding: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 500px) {
  .primary-header .logo-image img {
    margin-top: 8px;
    padding-bottom: 25px;
    width: 300px;
  }
}

@media (max-width: 350px) {
  .primary-header .logo-image img {
    margin-top: 14px;
    width: 220px;
  }
}

.primary-header .primary-navigation[data-visible="true"] {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.primary-header .primary-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.primary-header .primary-navigation .active {
  color: #904214;
  border-bottom: 3px solid white;
}

.primary-header .primary-navigation a {
  font-family: "PT Sans", sans-serif;
  color: white;
  font-size: clamp(15px, 10vw, 32px);
}

.primary-header .primary-navigation a:hover {
  border-bottom: 3px solid white;
  color: #904214;
}

.primary-header .primary-navigation li:not(:last-child) {
  margin-right: 25px;
}

@media (max-width: 1024px) {
  .primary-header .primary-navigation li:not(:last-child) {
    margin-bottom: 60px;
    margin-right: 0px;
  }
}

@media (max-width: 1024px) {
  .primary-header .primary-navigation {
    position: fixed;
    inset: 0 0 0 40%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 200px 4px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 350ms ease-out;
    transition: -webkit-transform 350ms ease-out;
    transition: transform 350ms ease-out;
    transition: transform 350ms ease-out, -webkit-transform 350ms ease-out;
    background-color: black;
    z-index: 100;
  }
}

.primary-header .mobile-nav-toggle {
  display: none;
}

@media (max-width: 1024px) {
  .primary-header .mobile-nav-toggle {
    position: absolute;
    width: 30px;
    background-color: transparent;
    background-image: url(../images/burger3.png);
    display: block;
    border: none;
    aspect-ratio: 1;
    top: 45px;
    right: 20px;
    z-index: 1000;
  }
}

.primary-header .mobile-nav-toggle[aria-expanded="true"] {
  background-image: url(../images/x3.png);
}

body {
  background-repeat: no-repeat;
}

footer {
  background: #292826;
  background: linear-gradient(77deg, #292826 0%, #04406d 49%);
}

footer p {
  font-family: "PT Sans", sans-serif;
  color: white;
  line-height: 23px;
}

footer h2,
footer h3 {
  font-family: "Roboto Slab", serif;
  line-height: 30px;
  font-size: 20px;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0px;
}

@media (max-width: 1200px) {
  .footer-wrapper {
    width: 95%;
  }
}

@media (max-width: 800px) {
  .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.footer-wrapper .footer-s-1 p {
  margin-bottom: 7px;
}

.footer-wrapper .footer-s-1 a:not(:last-child) {
  margin-right: 7px;
}

.footer-wrapper .footer-s-1 img {
  width: 30px;
}

.footer-wrapper a:hover {
  color: #904214;
}

.footer-wrapper a {
  font-family: "PT Sans", sans-serif;
  color: white;
  line-height: 25px;
}

.coming-soon {
  background-image: url(../images/test2.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.coming-soon .lpcd-text-decoration {
  margin-top: clamp(350px, 60vw, 600px);
  margin-bottom: clamp(350px, 46vw, 400px);
  border-radius: 5px;
}

@media (max-width: 650px) {
  .coming-soon .lpcd-text-decoration {
    width: 90%;
  }
}

.coming-soon .lpcd-text-decoration > h2 {
  font-family: "Orbitron", sans-serif;
  color: white;
  font-size: clamp(32px, 10vw, 60px);
  letter-spacing: 3px;
  text-align: center;
  line-height: 55px;
  margin-bottom: 30px;
}

.coming-soon .countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.coming-soon .countdown h3 {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  color: white;
}

.coming-soon .countdown .day,
.coming-soon .countdown .hour,
.coming-soon .countdown .minute,
.coming-soon .countdown .second {
  font-family: "Roboto Slab", serif;
  font-size: 28px;
  color: white;
}

.contact-section {
  background-image: url(../images/test2.jpg);
  padding-bottom: clamp(100px, 20vw, 150px);
  padding-top: clamp(100px, 20vw, 150px);
}

.contact-wrapper {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 0px;
}

.contact-wrapper input[type="text"],
.contact-wrapper select,
.contact-wrapper textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contact-wrapper input[type="submit"] {
  background: #292826;
  background: linear-gradient(77deg, #292826 0%, #04406d 49%);
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

.contact-wrapper input[type="submit"]:hover {
  background: #90d9e5;
}

.contact-wrapper .container {
  padding: 20px;
  margin-bottom: 30px;
}

.contact-wrapper .container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-wrapper .container form label {
  font-family: "Orbitron", sans-serif;
  color: white;
  margin-bottom: 10px;
}

.contact-wrapper > h1 {
  font-family: "Orbitron", sans-serif;
  color: white;
  font-size: clamp(35px, 10vw, 60px);
  text-align: center;
  margin-bottom: 25px;
}

.contact-wrapper > p {
  font-family: "PT Sans", sans-serif;
  color: white;
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.contact-wrapper iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  border: 2px solid white;
}

@media (max-width: 550px) {
  .contact-wrapper iframe {
    height: 300px;
  }
}

.contact-wrapper .contact-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1024px) {
  .contact-wrapper .contact-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .contact-wrapper .contact-flex .contact-card:not(:last-child) {
    margin-bottom: 20px;
  }
}

.contact-wrapper .contact-flex .contact-card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.contact-wrapper .contact-flex .contact-card {
  background: #292826;
  background: linear-gradient(77deg, #292826 0%, #04406d 49%);
  height: 180px;
  width: 220px;
  border: 3px solid black;
  border-radius: 5px;
}

@media (max-width: 1024px) {
  .contact-wrapper .contact-flex .contact-card {
    width: 50%;
  }
}

@media (max-width: 555px) {
  .contact-wrapper .contact-flex .contact-card {
    width: 80%;
  }
}

.contact-wrapper .contact-flex .contact-card h4 {
  color: white;
  font-family: "Roboto Slab", serif;
  font-size: 25px;
  text-align: center;
  margin-bottom: 8px;
}

.contact-wrapper .contact-flex .contact-card p {
  text-align: center;
  padding: 5px;
  font-family: "PT Sans", sans-serif;
  color: white;
  font-size: 17px;
}

.contact-wrapper .contact-flex .contact-card .circle {
  display: block;
  background-color: black;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}

.contact-wrapper .contact-flex .contact-card img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  padding-top: 23%;
  display: block;
}
/*# sourceMappingURL=global.css.map */