html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.primary-header, .footer-wrapper, .video-wrapper .video-section, .section-3-lp .section-3-lpwrapper, .os-container .os-wrapper-s-1, .os-container .os-wrapper-s-2, .container-crew .crew-wrapper, .contact-wrapper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.container-crew .crew-wrapper, .contact-wrapper {
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
}

.lp-container, .os-container, .container-crew, .contact-section {
  background-image: url(../images/test2.jpg);
  background-size: cover;
  background-attachment: fixed;
}

header {
  background: #292826;
  background: linear-gradient(77deg, #292826 0%, #04406d 49%);
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.primary-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.primary-header .logo-image img {
  width: 400px;
  padding: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 500px) {
  .primary-header .logo-image img {
    margin-top: 8px;
    padding-bottom: 25px;
    width: 300px;
  }
}

@media (max-width: 350px) {
  .primary-header .logo-image img {
    margin-top: 14px;
    width: 220px;
  }
}

.primary-header .primary-navigation[data-visible="true"] {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.primary-header .primary-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.primary-header .primary-navigation .active {
  color: #90d9e5;
  border-bottom: 3px solid white;
}

.primary-header .primary-navigation a {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: clamp(10px, 8vw, 30px);
}

.primary-header .primary-navigation a:hover {
  border-bottom: 3px solid white;
  color: #90d9e5;
}

.primary-header .primary-navigation li:not(:last-child) {
  margin-right: 25px;
}

@media (max-width: 1024px) {
  .primary-header .primary-navigation li:not(:last-child) {
    margin-bottom: 60px;
    margin-right: 0px;
  }
}

@media (max-width: 1024px) {
  .primary-header .primary-navigation {
    position: fixed;
    inset: 0 0 0 40%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 200px 4px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 350ms ease-out;
    transition: -webkit-transform 350ms ease-out;
    transition: transform 350ms ease-out;
    transition: transform 350ms ease-out, -webkit-transform 350ms ease-out;
    background-color: black;
    z-index: 100;
  }
}

.primary-header .mobile-nav-toggle {
  display: none;
}

@media (max-width: 1024px) {
  .primary-header .mobile-nav-toggle {
    position: absolute;
    width: 30px;
    background-color: transparent;
    background-image: url(../images/burger3.png);
    display: block;
    border: none;
    aspect-ratio: 1;
    top: 45px;
    right: 20px;
    z-index: 1000;
  }
}

.primary-header .mobile-nav-toggle[aria-expanded="true"] {
  background-image: url(../images/x3.png);
}

/*body {
  background-image: url("../images/test2.jpg");
  background-repeat: no-repeat;
  @extend %container-props;
}*/
footer {
  background: #292826;
  background: linear-gradient(77deg, #292826 0%, #04406d 49%);
}

footer p {
  font-family: "PT Sans", sans-serif;
  color: white;
  line-height: 23px;
}

footer h2,
footer h3 {
  font-family: "Roboto Slab", serif;
  line-height: 30px;
  font-size: 20px;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0px;
}

@media (max-width: 1200px) {
  .footer-wrapper {
    width: 95%;
  }
}

@media (max-width: 800px) {
  .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.footer-wrapper .footer-s-1 p {
  margin-bottom: 7px;
}

.footer-wrapper .footer-s-1 a:not(:last-child) {
  margin-right: 7px;
}

.footer-wrapper .footer-s-1 img {
  width: 30px;
}

.footer-wrapper a:hover {
  color: #90d9e5;
}

.footer-wrapper a {
  font-family: "PT Sans", sans-serif;
  color: white;
  line-height: 25px;
}

.coming-soon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.coming-soon .lpcd-text-decoration {
  margin-top: clamp(350px, 60vw, 600px);
  margin-bottom: clamp(350px, 60vw, 800px);
}

@media (max-width: 650px) {
  .coming-soon .lpcd-text-decoration {
    width: 90%;
  }
}

.coming-soon .lpcd-text-decoration > h2 {
  font-family: "Orbitron", sans-serif;
  color: white;
  font-size: clamp(32px, 10vw, 60px);
  letter-spacing: 3px;
  text-align: center;
  line-height: 55px;
  margin-bottom: 30px;
}

.coming-soon .countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.coming-soon .countdown h3 {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  color: white;
}

.coming-soon .countdown .day,
.coming-soon .countdown .hour,
.coming-soon .countdown .minute,
.coming-soon .countdown .second {
  font-family: "Roboto Slab", serif;
  font-size: 28px;
  color: white;
}

.video-wrapper {
  background: url(../images/space4.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}

.video-wrapper .video-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@media (max-width: 1200px) {
  .video-wrapper .video-section {
    width: 90%;
  }
}

.video-wrapper .video-section h1, .video-wrapper .video-section p {
  font-family: "Orbitron", sans-serif;
  color: white;
  letter-spacing: 2px;
}

.video-wrapper .video-section h1 {
  margin-top: clamp(50px, 10vw, 100px);
  margin-bottom: 30px;
  font-size: clamp(25px, 10vw, 40px);
}

.video-wrapper .video-section p {
  margin-bottom: clamp(50px, 10vw, 100px);
  line-height: 25px;
}

.video-wrapper .video-section video {
  margin-bottom: clamp(100px, 10vw, 150px);
  border-radius: 5px;
}

@media (max-width: 1200px) {
  .video-wrapper .video-section video {
    max-width: 800px;
    width: 100%;
  }
}

.section-3-lp {
  background-image: url(../images/space5.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}

.section-3-lp .section-3-lpwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@media (max-width: 1200px) {
  .section-3-lp .section-3-lpwrapper {
    width: 90%;
  }
}

.section-3-lp .section-3-lpwrapper h1, .section-3-lp .section-3-lpwrapper p {
  font-family: "Orbitron", sans-serif;
  color: white;
  letter-spacing: 2px;
}

.section-3-lp .section-3-lpwrapper h1 {
  margin-top: clamp(100px, 10vw, 250px);
  margin-bottom: 30px;
  font-size: clamp(25px, 10vw, 40px);
}

.section-3-lp .section-3-lpwrapper p {
  margin-bottom: clamp(50px, 10vw, 100px);
  line-height: 25px;
}

.section-3-lp .section-3-lpwrapper img {
  width: 1200px;
  margin-bottom: clamp(100px, 10vw, 400px);
  border-radius: 5px;
}

@media (max-width: 1200px) {
  .section-3-lp .section-3-lpwrapper img {
    max-width: 900px;
    width: 100%;
  }
}

.os-container {
  padding-top: clamp(250px, 25vw, 350px);
  padding-bottom: clamp(150px, 25vw, 220px);
}

.os-container .margin-bottom-h1-os {
  margin-bottom: 80px;
}

.os-container > h1 {
  font-family: "Orbitron", sans-serif;
  color: white;
  font-size: clamp(35px, 10vw, 60px);
  text-align: center;
}

.os-container > p {
  font-family: "Orbitron", sans-serif;
  font-size: 25px;
  color: white;
  line-height: 40px;
  text-align: center;
}

.os-container .os-wrapper-s-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  padding: 100px 0px;
  width: 95%;
}

@media (max-width: 1040px) {
  .os-container .os-wrapper-s-1 {
    width: 95%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .os-container .os-wrapper-s-1 h2,
  .os-container .os-wrapper-s-1 p {
    text-align: center;
  }
}

.os-container .os-wrapper-s-1 img:hover {
  opacity: 0.8;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  cursor: pointer;
}

.os-container .os-wrapper-s-1 img {
  width: 700px;
  border-radius: 5px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

@media (max-width: 1024px) {
  .os-container .os-wrapper-s-1 img {
    max-width: 700px;
    width: 100%;
  }
}

.os-container .os-wrapper-s-1 h2 {
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  color: white;
  line-height: 60px;
  border-bottom: 3px solid white;
  margin-bottom: 10px;
}

.os-container .os-wrapper-s-1 p {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  color: white;
  line-height: 25px;
  letter-spacing: 1px;
}

.os-container .os-wrapper-s-2 p {
  font-family: "Orbitron", sans-serif;
  color: black;
  font-size: clamp(20px, 10vw, 32px);
}

.os-container .os-wrapper-s-2 .container-services {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "img1 img1 img2 img3" "img4 img5 img6 img6";
  grid-gap: 10px;
}

.os-container .os-wrapper-s-2 .container-services .img1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img1;
}

.os-container .os-wrapper-s-2 .container-services .img2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: img2;
}

.os-container .os-wrapper-s-2 .container-services .img3 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: img3;
}

.os-container .os-wrapper-s-2 .container-services .img4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: img4;
}

.os-container .os-wrapper-s-2 .container-services .img5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: img5;
}

.os-container .os-wrapper-s-2 .container-services .img6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: img6;
}

@media (max-width: 1300px) {
  .os-container .os-wrapper-s-2 .container-services {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: "img1 img1" "img2 img3" "img6 img6" "img4 img5";
  }
}

.os-container .os-wrapper-s-2 .container-services > div {
  border-radius: 5px;
  cursor: pointer;
  height: clamp(130px, 20vw, 210px);
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.os-container .os-wrapper-s-2 .container-services > div:hover {
  opacity: 0.8;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.os-container .os-wrapper-s-2 .bg1 {
  background: url(../images/space5.jpg);
}

.os-container .os-wrapper-s-2 .bg2 {
  background: url(../images/space4.jpg);
}

.container-crew {
  padding-bottom: clamp(100px, 20vw, 150px);
  padding-top: clamp(175px, 20vw, 250px);
}

.container-crew .crew-wrapper {
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .container-crew .crew-wrapper {
    width: 90%;
  }
}

@media (max-width: 1200px) {
  .container-crew .crew-wrapper .reverce {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 1200px) {
  .container-crew .crew-wrapper .noreverce {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container-crew .crew-wrapper > h1,
.container-crew .crew-wrapper > p {
  text-align: center;
  font-family: "Orbitron", sans-serif;
  color: white;
  letter-spacing: 2px;
}

.container-crew .crew-wrapper > h1 {
  padding-top: 40px;
  font-size: clamp(35px, 10vw, 60px);
}

.container-crew .crew-wrapper > p {
  font-size: clamp(15px, 10vw, 25px);
  padding-bottom: 30px;
}

.container-crew .crew-wrapper .crew-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  padding: 65px 65px;
}

@media (max-width: 1200px) {
  .container-crew .crew-wrapper .crew-content {
    padding: 55px 15px;
  }
}

.container-crew .crew-wrapper .crew-content .crew-text-dec {
  border-radius: 5px;
  padding: 25px;
  background: #292826;
  background: linear-gradient(77deg, #292826 0%, #04406d 49%);
}

.container-crew .crew-wrapper .crew-content img:hover {
  cursor: pointer;
}

.container-crew .crew-wrapper .crew-content img {
  width: 350px;
  border-bottom: 3px solid white;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

@media (max-width: 1200px) {
  .container-crew .crew-wrapper .crew-content img {
    max-width: 450px;
    width: 100%;
  }
}

.container-crew .crew-wrapper .crew-content img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.container-crew .crew-wrapper .crew-content h2 {
  font-family: "Orbitron", sans-serif;
  font-size: clamp(10px, 9vw, 30px);
  color: white;
  line-height: 50px;
  letter-spacing: 3px;
}

.container-crew .crew-wrapper .crew-content p {
  font-family: "PT Sans", sans-serif;
  font-size: clamp(10px, 7vw, 22px);
  color: black;
  line-height: 28px;
}

.contact-section {
  padding-bottom: clamp(100px, 20vw, 150px);
  padding-top: clamp(175px, 20vw, 250px);
}

.contact-wrapper {
  border-radius: 10px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 0px;
}

.contact-wrapper input[type="text"],
.contact-wrapper select,
.contact-wrapper textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contact-wrapper input[type="submit"] {
  background: #292826;
  background: linear-gradient(77deg, #292826 0%, #04406d 49%);
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

.contact-wrapper input[type="submit"]:hover {
  background: #90d9e5;
}

.contact-wrapper .container-contact {
  padding: 20px;
  margin-bottom: 30px;
}

.contact-wrapper .container-contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-wrapper .container-contact form label {
  font-family: "Orbitron", sans-serif;
  color: white;
  margin-bottom: 10px;
}

.contact-wrapper > h1 {
  font-family: "Orbitron", sans-serif;
  color: white;
  font-size: clamp(35px, 10vw, 60px);
  text-align: center;
  margin-bottom: 25px;
}

.contact-wrapper > p {
  font-family: "PT Sans", sans-serif;
  color: white;
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.contact-wrapper iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  border: 2px solid white;
}

@media (max-width: 550px) {
  .contact-wrapper iframe {
    height: 300px;
  }
}

.contact-wrapper .contact-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1024px) {
  .contact-wrapper .contact-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .contact-wrapper .contact-flex .contact-card:not(:last-child) {
    margin-bottom: 20px;
  }
}

.contact-wrapper .contact-flex .contact-card:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  cursor: pointer;
}

.contact-wrapper .contact-flex .contact-card {
  background: #292826;
  background: linear-gradient(77deg, #292826 0%, #04406d 49%);
  height: 180px;
  width: 220px;
  border: 3px solid black;
  border-radius: 5px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

@media (max-width: 1024px) {
  .contact-wrapper .contact-flex .contact-card {
    width: 50%;
  }
}

@media (max-width: 555px) {
  .contact-wrapper .contact-flex .contact-card {
    width: 80%;
  }
}

.contact-wrapper .contact-flex .contact-card h4 {
  color: white;
  font-family: "Roboto Slab", serif;
  font-size: 25px;
  text-align: center;
  margin-bottom: 8px;
}

.contact-wrapper .contact-flex .contact-card p {
  text-align: center;
  padding: 5px;
  font-family: "PT Sans", sans-serif;
  color: white;
  font-size: 17px;
}

.contact-wrapper .contact-flex .contact-card .circle {
  display: block;
  background-color: black;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}

.contact-wrapper .contact-flex .contact-card img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  padding-top: 23%;
  display: block;
}
/*# sourceMappingURL=global.css.map */