%container-props {
  @include container-par($container);
  margin: 0 auto;
}

%blur-props {
  background: hsla(0, 0%, 100%, 0.1);
  backdrop-filter: blur(9px);
}

%background-props {
  background-image: url(../images/test2.jpg);
  background-size: cover;
  background-attachment: fixed;
}
