//-----------------------------HeaderNavigation-----------------------------//

header {
  //background-color: black;
  background: rgb(41, 40, 38);
  background: linear-gradient(
    77deg,
    rgba(41, 40, 38, 1) 0%,
    rgba(4, 64, 109, 1) 49%
  );
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.primary-header {
  @include flex-props(space-between, center);
  @extend %container-props;

  .logo-image {
    img {
      width: 275px;
      padding: 20px;
      object-fit: cover;

      @media (max-width: 500px) {
        margin-top: 8px;
        padding-bottom: 25px;
        width: 300px;
      }

      @media (max-width: 350px) {
        margin-top: 14px;
        width: 220px;
      }
    }
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .primary-navigation {
    @include flex-props(space-between, center);
    //@extend %blur-props;
    padding: 10px;

    .active {
      color: $hovercolor;
      border-bottom: 3px solid white;
    }

    a {
      font-family: $testfont;
      color: $headertextcolor;
      font-size: clamp(10px, 8vw, 20px);
    }

    a:hover {
      border-bottom: 3px solid white;
      color: $hovercolor;
    }

    li:not(:last-child) {
      margin-right: 25px;

      @media (max-width: 1024px) {
        margin-bottom: 60px;
        margin-right: 0px;
      }
    }

    @media (max-width: 1024px) {
      position: fixed;
      inset: 0 0 0 40%;

      flex-direction: column;
      justify-content: start;
      padding: 200px 4px;

      transform: translateX(100%);
      transition: transform 350ms ease-out;
      background-color: black;
      z-index: 100;
    }
  }
  .mobile-nav-toggle {
    display: none;
  }

  @media (max-width: 1024px) {
    .mobile-nav-toggle {
      position: absolute;
      width: 30px;
      background-color: transparent;
      background-image: url(../images/burger3.png);
      display: block;
      border: none;
      aspect-ratio: 1;
      top: 45px;
      right: 20px;
      z-index: 1000;
    }
  }
  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(../images/x3.png);
  }
}

//-----------------------------Main-----------------------------//

/*body {
  background-image: url("../images/test2.jpg");
  background-repeat: no-repeat;
  @extend %container-props;
}*/

//-----------------------------Footer-----------------------------//

footer {
  background: rgb(41, 40, 38);
  background: linear-gradient(
    77deg,
    rgba(41, 40, 38, 1) 0%,
    rgba(4, 64, 109, 1) 49%
  );

  p {
    font-family: $paragrapfont;
    color: $headertextcolor;
    line-height: 23px;
  }

  h2,
  h3 {
    font-family: $headerfont;
    line-height: 30px;
    font-size: 20px;
  }
}

.footer-wrapper {
  @include flex-props(space-between, center);
  @extend %container-props;
  padding: 40px 0px;

  @media (max-width: 1200px) {
    width: 95%;
  }

  @media (max-width: 800px) {
    flex-direction: column;
    text-align: center;
  }

  .footer-s-1 {
    p {
      margin-bottom: 7px;
    }

    a:not(:last-child) {
      margin-right: 7px;
    }

    img {
      width: 30px;
    }
  }

  a:hover {
    color: $hovercolor;
  }

  a {
    font-family: $paragrapfont;
    color: $headertextcolor;
    line-height: 25px;
  }
}

//-----------------------------LandingPage-----------------------------//

.lp-container {
  @extend %background-props;
}

.coming-soon {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .lpcd-text-decoration {
   margin-top: clamp(350px, 60vw, 600px);
   margin-bottom: clamp(350px, 60vw, 800px);

    @media (max-width: 650px) {
      width: 90%;
    }

    & > h2 {
      font-family: $hmmmfont;
      color: $headertextcolor;
      font-size: clamp(32px, 10vw, 60px);

      letter-spacing: 3px;

      text-align: center;
      line-height: 55px;
      margin-bottom: 30px;
    }
  }

  .countdown {
    display: flex;
    justify-content: space-around;
    text-align: center;

    h3 {
      @include text-dec($paragrapfont, 22px, $headertextcolor);
    }

    .day,
    .hour,
    .minute,
    .second {
      @include text-dec($headerfont, 28px, $headertextcolor);
    }
  }
}

//----------Video----------//

.video-wrapper {
  background: url(../images/space4.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;

  .video-section {
    @extend %container-props;
    @include flex-props(space-between, center);
    flex-direction: column;
    text-align: center;

    @media (max-width:1200px) {
      width: 90%;
    }

    h1, p {
      font-family: $hmmmfont;
      color: $headertextcolor;
      letter-spacing: 2px;
    }

    h1 {
      margin-top: clamp(50px, 10vw, 100px);
      margin-bottom: 30px;

      font-size: clamp(25px, 10vw, 40px);
    }

    p {
      margin-bottom: clamp(50px, 10vw, 100px);
      line-height: 25px;
    }

    video {
      margin-bottom: clamp(100px, 10vw, 150px);
      border-radius: 5px;

      @media (max-width:1200px) {
        max-width: 800px;
        width: 100%;
      }
    }
  }
}

//----------Section3lp----------//

.section-3-lp {
  background-image: url(../images/space5.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;

  .section-3-lpwrapper {
    @extend %container-props;
    @include flex-props(space-between, center);
    flex-direction: column;
    text-align: center;

      @media (max-width:1200px) {
        width: 90%;
      }
  
      h1, p {
        font-family: $hmmmfont;
        color: $headertextcolor;
        letter-spacing: 2px;
      }
  
      h1 {
        margin-top: clamp(100px, 10vw, 250px);
        margin-bottom: 30px;
  
        font-size: clamp(25px, 10vw, 40px);
      }
  
      p {
        margin-bottom: clamp(50px, 10vw, 100px);
        line-height: 25px;
   }

   img {
     width: 1200px;
    margin-bottom: clamp(100px, 10vw, 400px);
    border-radius: 5px;

    @media (max-width:1200px) {
      max-width: 900px;
      width: 100%;
    }
    }
  }
}





//-----------------------------Services-----------------------------//

.os-container {
  @extend %background-props;

  padding-top: clamp(250px, 25vw, 350px);
  padding-bottom: clamp(150px, 25vw, 220px);

  .margin-bottom-h1-os {
    margin-bottom: 80px;
  }

  & > h1 {
    font-family: $hmmmfont;
    color: $headertextcolor;
    font-size: clamp(35px, 10vw, 60px);

    text-align: center;
  }

  & > p {
    @include text-dec($hmmmfont, 25px, $headertextcolor);
    line-height: 40px;

    text-align: center;
  }

  .os-wrapper-s-1 {
    @include flex-props(space-between, center);
    @extend %container-props;
    gap: 50px;
    padding: 100px 0px;
    width: 95%;

    @media (max-width: 1040px) {
      width: 95%;

      flex-direction: column;

      h2 {
        text-align: center;
      }

      p {
        text-align: center;
      }
    }

    img:hover {
      opacity: 0.8;
      transform: scale(0.98);
      cursor: pointer;
    }

    img {
      width: 700px;
      border-radius: 5px;
      transition: 0.3s ease-in;

      @media (max-width: 1024px) {
        max-width: 700px;
        width: 100%;
      }
    }

    h2 {
      @include text-dec($headerfont, 30px, $headertextcolor);
      line-height: 60px;
      border-bottom: 3px solid $headertextcolor;
      margin-bottom: 10px;
    }

    p {
      @include text-dec($paragrapfont, 22px, $headertextcolor);
      line-height: 25px;
      letter-spacing: 1px;
    }
  }

  .os-wrapper-s-2 {
    @extend %container-props;

    a {
      font-family: $hmmmfont;
      color: $cardtextcolor;
      font-size: clamp(20px, 10vw, 32px);
    }

    .container-services {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "img1 img1 img2 img3"
        "img4 img5 img6 img6";

      .img1 {
        grid-area: img1;
      }
      .img2 {
        grid-area: img2;
      }
      .img3 {
        grid-area: img3;
      }
      .img4 {
        grid-area: img4;
      }
      .img5 {
        grid-area: img5;
      }
      .img6 {
        grid-area: img6;
      }

      grid-gap: 10px;

      @media (max-width: 1300px) {
        width: 95%;
        margin-left: auto;
        margin-right: auto;

        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
          "img1 img1"
          "img2 img3"
          "img6 img6"
          "img4 img5";
      }
    }
    .container-services > div {
      border-radius: 5px;
      cursor: pointer;
      height: clamp(130px, 20vw, 210px);
      background-size: cover;
      background-attachment: fixed;

      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      transition: all 0.3s ease-in;
    }

    .container-services > div:hover {
      opacity: 0.8;
      transform: scale(0.98);
    }

    .bg1 {
      background: url(../images/space5.jpg);
    }

    .bg2 {
      background: url(../images/space4.jpg);
    }
  }
}

//----------Ourserviceslist----------//







//-----------------------------OurCrew-----------------------------//

.container-crew {
  @extend %background-props;
  padding-bottom: clamp(100px, 20vw, 150px);
  padding-top: clamp(175px, 20vw, 250px);

  .crew-wrapper {
    @extend %container-props;
    @extend %blur-props;
    border-radius: 10px;

    @media (max-width: 1200px) {
      width: 90%;
    }

    .reverce {
      @media (max-width: 1200px) {
        flex-direction: column-reverse;
      }
    }

    .noreverce {
      @media (max-width: 1200px) {
        flex-direction: column;
      }
    }

    & > h1,
    & > p {
      text-align: center;
      font-family: $hmmmfont;
      color: $headertextcolor;
      letter-spacing: 2px;
    }

    & > h1 {
      padding-top: 40px;
      font-size: clamp(35px, 10vw, 60px);
    }

    & > p {
      font-size: clamp(15px, 10vw, 25px);
      padding-bottom: 30px;
    }

    .crew-content {
      @include flex-props(space-between, center);
      gap: 30px;

      padding: 65px 65px;

      @media (max-width: 1200px) {
        padding: 55px 15px;
      }

      .crew-text-dec {
        border-radius: 5px;
        padding: 25px;

        background: rgb(41, 40, 38);
        background: linear-gradient(
          77deg,
          rgba(41, 40, 38, 1) 0%,
          rgba(4, 64, 109, 1) 49%
        );
      }

     img:hover {
       cursor: pointer;
     }

      img {
        width: 350px;
        border-bottom: 3px solid white;
        transition: 0.2s ease-in-out;

        @media (max-width: 1200px) {
          max-width: 450px;
          width: 100%;
        }
      }

      img:hover {
        transform: scale(1.1);
      }

      h2 {
        font-family: $hmmmfont;
        font-size: clamp(10px, 9vw, 30px);
        color: $headertextcolor;
        line-height: 50px;
        letter-spacing: 3px;
      }

      p {
        font-family: $paragrapfont;
        font-size: clamp(10px, 7vw, 22px);
        color: $cardtextcolor;
        line-height: 28px;
      }
    }
  }
}

//-----------------------------ContactPage-----------------------------//

.contact-section {
  @extend %background-props;

  padding-bottom: clamp(100px, 20vw, 150px);
  padding-top: clamp(175px, 20vw, 250px);
}

.contact-wrapper {
  @extend %container-props;
  @extend %blur-props;
  border-radius: 10px;

  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 0px;

  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type="submit"] {
    background: rgb(41, 40, 38);
    background: linear-gradient(
      77deg,
      rgba(41, 40, 38, 1) 0%,
      rgba(4, 64, 109, 1) 49%
    );
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
  }

  input[type="submit"]:hover {
    background: #90d9e5;
  }

  .container-contact {
    padding: 20px;
    margin-bottom: 30px;

    form {
      display: flex;
      flex-direction: column;

      label {
        font-family: $hmmmfont;
        color: $headertextcolor;
        margin-bottom: 10px;
      }
    }
  }

  & > h1 {
    font-family: $hmmmfont;
    color: $headertextcolor;
    font-size: clamp(35px, 10vw, 60px);
    text-align: center;
    margin-bottom: 25px;
  }

  & > p {
    font-family: $paragrapfont;
    color: $headertextcolor;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
  }

  iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    border: 2px solid white;

    @media (max-width: 550px) {
      height: 300px;
    }
  }

  .contact-flex {
    @include flex-props(space-between, center);
    width: 95%;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 1024px) {
      flex-direction: column;
    }

    .contact-card:not(:last-child) {
      @media (max-width: 1024px) {
        margin-bottom: 20px;
      }
    }

    .contact-card:hover {
      transform: scale(0.98);
      cursor: pointer;
    }

    .contact-card {
      background: rgb(41, 40, 38);
      background: linear-gradient(
        77deg,
        rgba(41, 40, 38, 1) 0%,
        rgba(4, 64, 109, 1) 49%
      );

      height: 180px;
      width: 220px;
      border: 3px solid black;
      border-radius: 5px;

      transition: 0.3s ease-in;

      @media (max-width: 1024px) {
        width: 50%;
      }

      @media (max-width: 555px) {
        width: 80%;
      }

      h4 {
        color: $headertextcolor;
        font-family: $headerfont;
        font-size: 25px;
        text-align: center;
        margin-bottom: 8px;
      }

      p {
        text-align: center;
        padding: 5px;
        font-family: $paragrapfont;
        color: $headertextcolor;
        font-size: 17px;
      }

      .circle {
        display: block;
        background-color: black;
        width: 40px;
        aspect-ratio: 1;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 8px;
      }

      img {
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        padding-top: 23%;
        display: block;
      }
    }
  }
}
