//--------------------colors--------------------//
$headertextcolor: white;
$hovercolor: #904214;
$cardbackgroundcolor: #04406d;

//--------------------fonts--------------------//
$headerfont: "Roboto Slab", serif;
$paragrapfont: "PT Sans", sans-serif;
$hmmmfont: "Orbitron", sans-serif;

//--------------------sizes--------------------//
$headertextsize: 30px;
$container: 1170px;
