//--------------------colors--------------------//
$headertextcolor: white;
$hovercolor: #90d9e5;
$cardbackgroundcolor: #04406d;
$cardtextcolor: black;

//--------------------fonts--------------------//
$headerfont: "Roboto Slab", serif;
$paragrapfont: "PT Sans", sans-serif;
$hmmmfont: "Orbitron", sans-serif;
$testfont: 'Montserrat', sans-serif;

//--------------------sizes--------------------//
$headertextsize: 30px;
$container: 1170px;
