//--------------------colors--------------------//




//--------------------fonts--------------------//
$headerfont: "Roboto Slab", serif;
$paragrapfont: "PT Sans", sans-serif;



//--------------------sizes--------------------//
$headertextsize: 30px;
$headertextcolor: #e5ecea;
$container: 1170px;